# Configuración del Servidor
PORT=3000 # Puerto en el que correrá la aplicación

# Configuración de la Base de Datos (PostgreSQL)
DB_HOST=localhost       # Host de la base de datos
DB_PORT=5432            # Puerto de PostgreSQL
DB_USERNAME=postgres    # Usuario de la base de datos
DB_PASSWORD=postgres    # Contraseña del usuario
DB_DATABASE=mpp_db      # Nombre de la base de datos

# Configuración de JWT (JSON Web Token)
JWT_SECRET=super_secret_key_random_string # Clave secreta para firmar los tokens
JWT_EXPIRES_IN=1d                          # Tiempo de expiración del token (ej: 1h, 1d, 7d)
